html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0b132b;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.horror-vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: radial-gradient(
    circle,
    rgba(100, 78, 350, 0.11) 0%,
    rgba(10, 10, 36, 0.6) 80%,
    rgba(2, 6, 23, 0.95) 100%
  );
}

/* UI */
#game-help {
  position: fixed;

  top: 20px;
  left: 20px;

  width: 190px;

  padding: 18px;

  background: rgba(5, 5, 5, 0.45);

  border: 1px solid rgba(255, 0, 0, 0.15);

  border-radius: 14px;

  backdrop-filter: blur(12px);

  -webkit-backdrop-filter: blur(12px);

  color: #d1d5db;

  font-family: "Courier New", monospace;

  z-index: 9999;

  box-shadow:
    0 0 25px rgba(255, 0, 0, 0.08),
    inset 0 0 12px rgba(255, 255, 255, 0.03);

  animation: pulseBox 4s infinite ease-in-out;
}

#game-help h2 {
  margin-top: 0;

  font-size: 18px;

  color: #ff4d4d;

  letter-spacing: 3px;

  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);

  margin-bottom: 16px;
}

#game-help p {
  margin: 12px 0;

  font-size: 12px;

  line-height: 1.5;

  color: #d4d4d4;
}

@keyframes pulseBox {
  0% {
    box-shadow:
      0 0 20px rgba(255, 0, 0, 0.06),
      inset 0 0 10px rgba(255, 255, 255, 0.02);
  }

  50% {
    box-shadow:
      0 0 35px rgba(255, 0, 0, 0.12),
      inset 0 0 14px rgba(255, 255, 255, 0.04);
  }

  100% {
    box-shadow:
      0 0 20px rgba(255, 0, 0, 0.06),
      inset 0 0 10px rgba(255, 255, 255, 0.02);
  }
}
